# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env
.env.*

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar directorios del sistema o IDE
.DS_Store
.vscode/
.idea/

# Ignorar carpetas de build
dist/
build/
